.width-main-box {
  max-width: 65%;
  margin: 0 auto;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 10px 10px #494848;
  background-color: whitesmoke;
  margin-bottom: 100px;
}

.email-validation-wrong {
  font-size: 12px;
  opacity: 0;
}
h3{
  border-radius: 6px;
  width: 200px;
  height: 50px;
  line-height: 45px;
}
body{
  background-image: url(img/download.jpeg);
  background-size: cover;
}